{% layout 'layout.liquid' %}
{% block content %}
    {% if zeldaChar.length > 0%}
        <div>
            <h2 class="display-6">All Characters</h2>
            <div class="row">
                {% for zeldaChar in zeldaChar %}
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-header">{{zeldaChar.name}}</h5>
                        <div class="card-body">
                            <h5 class="card-title">
                                {% if zeldaChar.allyToLink %}
                                    Ally
                                {% else %}
                                    Enemy
                                {% endif %}
                            </h5>
                            <p class="card-text">The game {{zeldaChar.name}} first appeared in is {{zeldaChar.gameDebut}}</p>
                            {%- comment -%} <div class="colorBox" style="background-color: {{fruit.color}}">

                            </div> {%- endcomment -%}
                            <a class="btn btn-info" href="/zeldaChar/{{zeldaChar.id}}">
                                View {{zeldaChar.name}}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div>
            <h2 class="display-6">No characters yet... time to add some!</h2>
        </div>
    {% endif %}
{% endblock %}